.nav-wrapper {
    background-color: black;
}

#search {
    background-color: white;
}

#title {
    font-family: 'Bodoni Moda', serif;
    font-size: xx-large;
    color: gold;
}
html {
    background-image: url("fender_guitar_unsplash.jpg");
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

#nav-mobile {
    background: gold;
    font-family: 'Pangolin', cursive;
    font-size: small;
}

p {
    font: white;
    font-family: 'Pangolin', cursive;
    font-size: medium;
}

